/* <!-- color-hex.com provides a color scheme or palette with shades of colors. HUGE for portfolio site and project sites. in bookmarks, front-end/css section --> */

h1 {
  /* Color Name */
  color: red;
  /* colors work for background-color, color or border */
}
 
h2 {
   /* RGB */
  /* rgb between 0 and 255, all 0's black; all 255's white; */
  color: rgb(210,0,0);

}

h3 {
  /* Hex */
  /* all 0's black, all f's white, all 3 of any other symbol shade of gray */
 color: #0000ff;
}
/* hex preferred, don't mix hex with color names */